@media (max-width:576px) {
    .header-area .header-info-area .header-info-wrapper .header-contact .item-1 {
        display: none;
    }
    .header-nav {
        display: none;
    }
    .header-area .header-topbar {   
        display: none;
    }
    .hero-slider .content-center .title {
        font-size: 35px;
       
    }
    .blog-section ,.project-section ,.service-section,.feature-icone ,.about-section {
        padding: 30px 0;
    }
    .footer-section {
        padding: 50px 0;
        background-color: #111;
    }
    .testimonial-section{
        padding: 0 15px;
    }
    .testimonial-section .test-content {
        width: 100%;
        margin-right: 0;
        padding: 65px 0;
        z-index: 1;
    }
    .testimonial-section p {
        font-size: 17px;
        line-height: 1.5;
    }
    .service-section .service-img .sevice-tab {
        width: 100%;
        padding: 12px;
    }
    .service-img {
        padding: 15px;
        margin-left: 0px;
    }
    .service-section .service-img .sevice-tab p {
        margin-bottom: 10px;
        width: 415px;
    }
    .footer-section .list-footer h4 {
        margin-bottom: 10px;
    }
    .footer-section .footer-logo {
        margin-bottom: 20px;
    }
    .fo-row p {
        padding: 10px 0;
        margin-bottom: 0;
    }
    .footer-section {
        padding: 30px 0;
        background-color: #111;
    }
    .blog-section .card p {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .hero-slider .content-center {
        width: 100%;
        top: 43%;
    }
    .hero-slider .content-center .hero-text {
        font-size: 19px;
    }
    .slider-row .carousel .carousel-inner .carousel-item img {
        height: 500px;
    }
    .service-section .section-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .service-section .section-title h2 {
        font-size: 30px;
    }
    .service-section .nav-tab a {
        font-size: 18px;
    }
    .about-section .content__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
}