@media (max-width:1400px) {
    .container{
        width:1140px;
        margin:auto;
      }
    

@media (max-width:1200px) {
    .container{
        width:960px;
        margin:auto;
      }
      .menu-section .menu-list-row {
        flex-direction: column;
    }
    .menu-section .menu-list-row .main-item {
        padding: 0 200px;
        width: 100%;
    }
    .footer-section .wrapper {
        flex-direction: column;
        gap: 50px;
    }
    .footer-section .wrapper .col {
        width: 100%;
    }
    .header-section {
        padding: 10px 0;
    }
   
    
    
}

@media (max-width:992px) {
    .container{
        width:720px;
        margin:auto;
      }
      .header-section .wrapper .nav-list {
        display: none;
    }
    .header-section .wrapper .logo .menu{
        display: flex;
    }
    .about-section .wrapper {
        flex-direction: column;
    }
    .about-section .food-image {
        width: 100%;
    }
    .about-section .about-content {
        width: 100%;
    }
    .gallery-section .wrapper .gallery-item {
        width: 50%;
    }
    .menu-section .menu-list-row .main-item {
        padding: 0 96px;
        width: 100%;
    }
    .menu-section .menu-list-row .main-item .menu-list .menu-list-heading h5 {
        font-size: 1.2rem;
    }
    .menu-section .menu-list-row .main-item .menu-list p {
        font-size: 16px;
        line-height: 22px;
    }
    .about-section .wrapper {
        gap: 50px;
    }
    .footer-section .wrapper {
        padding: 10px 0;
    }
    .header-section .wrapper .logo {
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width:768px) {
    .container{
        width:540px;
        margin:auto;
      }
     
      .menu-section .menu-list-row .main-item {
        padding: 0 0px;
        width: 100%;
    }
    .footer-section .wrapper .col {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    .footer-section .wrapper .col .header-first {
        width: 100%;
        padding: 0 15px;
    }
    .footer-section .wrapper .header-second {
        width: 100%;
        padding: 0 15px;
    }
    .footer-section .wrapper .col .header-second .instagram-main {
        width: 50%;
    }
    .footer-section .wrapper .header-second .footer-title::before {
        height: 2px;
        left: 217px;
        top: 35px;
       
    }.header-section .wrapper .logo {
        justify-content: space-between;
        width: 100%;
    }
    .header-section {
        padding: 10px 0;
    }
    .footer-section .wrapper {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width:576px) {
    .container{
        width:100%;
        padding: 0 15px;
      }
      .sliden-section .content-banner .slider-heading {
        font-size: 40px;
        line-height: 60px;
    }
    .sliden-section .content-banner .slider-tex {
        font-size: 19px;
    }
    .sliden-section {
        height: 400px;
    }
    .about-section .food-image::before {
        width: 85%;
        height: 91%;
        top: 49%;
        left: 50%;
    }
      .menu-section .menu-list-row .main-item .menu-list .menu-list-heading h5 {
        font-size: 12px;
        line-height: 17px;
    }
    .menu-section .menu-list-row .main-item .menu-list .menu-list-heading p {
        font-size: 15px; 
    }
    .about-section .about-content h3 ,.gallery-section .gallery-heading ,.menu-section .menu-heading,.reservation-section .reservation-heading,.contact-section .reservation-heading {
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .footer-section .wrapper .header-second .footer-title::before {
        left: 96px;
        top: 35px;
    }
    .footer-section .wrapper .col .header-first p {
        font-size: 17px;
    }
    .footer-section .footer-bootom p {
        font-size: 14px;
        line-height: 10px;
    }
    .reservation-section .form-group {
        flex-direction: column;
    }
    .reservation-section .form-group .input-row {
        width: 100%;
    }
    .reservation-section .reserve-btn a {
        font-size: 1rem;
    }
    .footer-section .wrapper .col .header-second .instagram-main {
        width: 100%;
    }
    .about-section .about-content p {
        font-size: 16px;
        line-height: 26px;
    }
    .gallery-section ,.menu-section ,.menu-section ,.about-section {
        padding: 30px 0;
    }
    .contact-section .main-row {
        flex-direction: column;
    }
    .contact-section .input-row-tex {
        width: 100%;
    }
    .footer-section .wrapper .col {
        flex-direction: column;
        gap: 40px;
    }

    .header-section .wrapper .logo {
        justify-content: space-between;
        width: 100%;
    }
    .header-section {
        padding: 10px 0;
    }
    .footer-section .wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .menu-section .menu-list-row .main-item .menu-list p {
        font-size: 13px;
        line-height: 22px;
    }
    .about-section .wrapper {
        gap: 15px;
    }
    .about-section .food-image {
        width: 100%;
        padding: 0 0px;
    }
    .about-section .food-image::before {
        width: 95%;
    }
    .menu-section .menu-list-row .menu-list {
        margin-bottom: 25px;
    }
}