@media (max-width:1400px) {
    
    

@media (max-width:1200px) {
    header .wrapper nav ul {
        padding: 0;
    }

    header .wrapper  nav{
        margin-left: auto !important;
       }
    .service-section .card {
        width: 50%;
    }
    .wrapper-row {
        align-items: center;
    }
    .scal{
        transform: scale(1);
       
      }
    
    
}

@media (max-width:992px) {
    .banner-section .banner-content h1 {
        font-size: 100px;
        line-height: 120px;
    }
    .banner-section .banner-content h2 {
        font-size: 28.12px;
        line-height: 33.74px;
    }
    .wrapper-row {
        flex-direction: column;
    }
    .wrapper-row .left-part {
        width: 100%;
    }
    .wrapper-row .right-part {
        width: 100%;
    }
    .image-right {
        display: none;
    }
    header .wrapper  {
        display: none;
    }
    .service-section .card .content:hover {
        margin-top: -70px;
    }
    .scal{
        transform: scale(1);
       
      }
}

@media (max-width:768px) {
    .banner-section .banner-content h1 {
        font-size: 80px;
        line-height: 96px;
    }
    .banner-section .banner-content h2 {
        font-size: 26.393px;
        line-height: 31.67px;
    }
    .banner-section .wrapper {
        flex-direction: column;
    }
    .scal{
        transform: scale(1);
       
      }
}

@media (max-width:576px) {
    .service-section .card {
        width: 100%;
    }
    .container {
        width: 100%;
        padding: 0 12px;
    }
    .banner-section .banner-content h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .banner-section .banner-content h2 {
        font-size: 24.08px;
        line-height: 28.89px;
    }
    .designing-section .heading-content-row .heading-row ,.template-section .content-template h2,.skill-section-start h2  {
        line-height: 28.89px;
        font-size: 24.8px;
    }
    .presentation-section .pre-heaading ,.selection-section .selected-heading{
        font-size: 24.08px;
        line-height: 28.8px;
    }
    .scal{
        transform: scale(1);
      }
}